<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta name="author" content="parth_parikh">
	<meta name="description" content="url shortner">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>url shortner</title>
	<link rel="stylesheet" type="text/css" href="../static/style.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

</head>

<body>
	<center><b>Url Shortner</b></center>

	<br><br>

	<form method="post" autocomplete="off">
		<div class="query">
			{% if error %}
				<label for="query"></label>
				<input type="text" id="query" name="query" autofocus="autofocus" placeholder="Enter a link">
			{% endif %}
		</div>

		<br>

		<div class="time">
			{% if error %}
				<input type="text" id="time" name="time" autofocus="autofocus" placeholder="Enter expiry time in minutes">
			{% endif %}
		</div>

		<div class="query-request">
			{% if error %}
			<br>
			<button type="submit">Shorten</button>
			<br>
			{% endif %}
		</div>

	</form>


	<script>
		function copyToClipboard(text) {
			var copyText = document.getElementById("copy");
			copyText.select();
			document.execCommand("copy");
		}
	</script>

	{% if name %}
		<center><b>Shortened link</b></center>
		<textarea id="copy" class="copy">{{ name }}</textarea> 
		<br>
		<br>
		<button id="copy" onclick="copyToClipboard(document.getElementById('copy').innerHTML)">copy link</button>
		<br>
		<a href=".">↩</a>
	{% endif %}

	{% if other %}
		<center><b>{{ other }}</b></center>
		<textarea id="copy" class="copy">{{ val }}</textarea> 
		<br>
		<br>
		<button id="copy" onclick="copyToClipboard(document.getElementById('copy').innerHTML)">copy link</button>
		<br>
		<a href=".">↩</a>
	{% endif %}
</body>
</html>